<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Test</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>Number: <span th:text="${number}"></span></p>
        <p>Name: <span th:text="${firstName}"></span></p>
    </body>
    <form action="testForm" method="POST">
        New Number: <input type="text" name="formNumber"/> <br/>
        New Name: <input type="text" name="formFirstName"/><br/>
        <button type="submit">Submit</button>
    </form>
</html>



<!-- Including xmlns:th=http://www.thymeleaf.org to the html tag tells the IDE how to deal with future Thymeleaf attributes.
Everything is normal HTML until we want to display the data we added to the Model previously.
We add the th:text attribute to the span tag and use the values ${number} and ${firstName} to pick up the data from our Model. The variable names here match the key we used when we added it to the Model in our Java code. -->
